@font-face {font-family: 'yoon';
    src: url('https://www.espoir.com/resources/css/font/YoonGothicPro740.eot');
    src: url('https://www.espoir.com/resources/css/font/YoonGothicPro740.eot?#iefix') format('embedded-opentype'),
    url('https://www.espoir.com/resources/css/font/YoonGothicPro740.woff') format('woff'),
    url('https://www.espoir.com/resources/css/font/YoonGothicPro740.ttf') format('truetype'),
    url('https://www.espoir.com/resources/css/font/YoonGothicPro740.svg#wf') format('svg');}
 
 @font-face {font-family: 'yoonb';  
    src: url('https://www.espoir.com/resources/css/font/YoonGothicPro760.eot');
    src: url('https://www.espoir.com/resources/css/font/YoonGothicPro760.eot?#iefix') format('embedded-opentype'),
    url('https://www.espoir.com/resources/css/font/YoonGothicPro760.woff') format('woff'),
    url('https://www.espoir.com/resources/css/font/YoonGothicPro760.ttf') format('truetype'),
    url('https://www.espoir.com/resources/css/font/YoonGothicPro760.svg#wf') format('svg');}
 
 @font-face {font-family: 'Marian';
    src: url('https://www.espoir.com/resources/css/font/36660E_0_0.eot');
    src: url('https://www.espoir.com/resources/css/font/36660E_0_0.eot?#iefix') format('embedded-opentype'),
    url('https://www.espoir.com/resources/css/font/36660E_0_0.woff2') format('woff2'),
    url('https://www.espoir.com/resources/css/font/36660E_0_0.woff') format('woff'),
    url('https://www.espoir.com/resources/css/font/36660E_0_0.ttf') format('truetype'),
    url('https://www.espoir.com/resources/css/font/36660E_0_0.svg#wf') format('svg');}
 
 @font-face {font-family: 'Marian';
    font-weight:bold;
    src: url('https://www.espoir.com/resources/css/font/36660E_2_0.eot');
    src: url('https://www.espoir.com/resources/css/font/36660E_2_0.eot?#iefix') format('embedded-opentype'),
    url('https://www.espoir.com/resources/css/font/36660E_2_0.woff2') format('woff2'),
    url('https://www.espoir.com/resources/css/font/36660E_2_0.woff') format('woff'),
    url('https://www.espoir.com/resources/css/font/36660E_2_0.ttf') format('truetype'),
    url('https://www.espoir.com/resources/css/font/36660E_2_0.svg#wf') format('svg');}

    
    

    *{
        -webkit-text-size-adjust: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        word-break: break-word;
        outline: none;
        -webkit-overflow-scrolling: touch;
        -webkit-tap-highlight-color: rgba(255,255,255,0);
    }
    
    html, body {
        font-family: 'yoon','Marian','roboto','돋움','AppleGothic', Dotum,sans-serif;
    }
    
    html {
        font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
    
    body {
        min-width: 320px;
        height: auto;
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 1.3;
        color: #666;
        background-color: #fff;
        letter-spacing: 0;
    }
    
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-size: 100%;
        font-weight: normal;
    }
    
    div, h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, p, form, fieldset, input, table, tr, th, td, button, textarea, select{
        margin: 0;
        padding: 0;
    }
    
    ul, ol, dl, dt, dd, li{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    section, div{
        display: block;
    }
    
    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    
    button {
        background: transparent;
        cursor: pointer;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        border: none;
        border-image-width: 0;
        vertical-align: top;
    }
    
    li{
        text-align: -webkit-match-parent;
    }
    
    a{
        color: #666;
        text-decoration: none;
        background-color: transparent;
    }
    
    p{
        vertical-align: middle;
    }
    
    img{
        border: 0;
        vertical-align: top;
    }
    .on{
        display: none;
    }

    .off{
        display: none;
    }

    .v_off{
        visibility: hidden;
    }